/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("//db.onlinewebfonts.com/c/3dd6e9888191722420f62dd54664bc94?family=Myriad+Pro");

body {
  font-family: "Raleway", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.default-button,
.default-heading {
  font-family: "Myriad Pro", sans-serif;
}

.banner .fa {
  width: 18px;
  color: white;
}
.banner label {
  color: white;
}

.banner {
  /* background-color: red; */
  background-image: url("/images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
}

.banner * {
  background: none;
}

.basic-navbar-nav {
  background-color: rgba(0, 0, 0, 0.61);
  position: absolute;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  top: 100px;
  z-index: 999;
}

.banner hr {
  height: 1px;
  border-radius: 3em;
  background-color: #ffc107;
}

.bar .active {
  background-color: #ffc107;
  border-radius: 4px;
  text-align: center;
}

.bar .active .fa,
.bar .active label {
  color: #303030;
}

.default-button {
  display: inline-block;
  font-size: 20px;
  background-color: #ffc107;
  color: #444343;
  padding: 8px 40px;
  margin-bottom: 15px;
  text-align: center;
  margin-left: 5px;
  border-radius: 3em;
  cursor: pointer;
}

.default-button.btn-icon .icon.fa {
  width: 15px;
}
.default-button.btn-icon .icon.fa,
.default-button.btn-icon .text {
  font-size: 18px;
  /* background-color: red; */
  display: inline-block;
}
.default-button.btn-icon .text {
  padding-left: 15px;
}

/* utilities styles */

.test-bg {
  background-color: red;
}

.primary-color-text {
  color: #ffc107 !important;
}

.primary-color-bg {
  background-color: #ffc107;
}

.basic-navbar-nav {
  position: static;
  background: none;
}
.section-padding {
  padding: 25px;
}

@media (max-width: 750px) {
  .no-padding-sm {
    /* background-color: red; */
    padding: 10px !important;
  }
  .basic-navbar-nav {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    padding: 12px;
    border-radius: 4px;
    width: 100%;
    top: 100px;
    z-index: 999;
  }
  .default-button {
    display: block;
  }
}
