/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

.banner .fa {
  width: 20px;
  color: white;
}
.banner label {
  color: white;
}

.banner {
  /* background-color: red; */
  background-image: url("/images/banner-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  color: white;
}

.banner * {
  background: none;
}

.banner hr {
  height: 1px;
  border-radius: 3em;
  background-color: #ffc107;
}

.default-button {
  font-size: 20px;
  background-color: #ffc107;
  padding: 10px 40px;
  display: inline-block;
  border-radius: 3em;
  cursor: pointer;
}

.default-button.default-button-sm {
  font-size: 15px;
}
